In [1]:
import time
from algotrading.file.api import EIFileManager

EIFileManager.find_files(name='usd')

                                              NAME   EXT
2  OANDA_AUD_USD_2023-06-06_2023-06-07_4 Hours.csv  .csv
3  OANDA_AUD_USD_2023-06-07_2023-06-08_4 Hours.csv  .csv
4    OANDA_BTC_USD_2018-01-01_2023-06-30_1 Day.csv  .csv
5  OANDA_EUR_USD_2018-01-01_2023-07-31_4 Hours.csv  .csv
6  OANDA_EUR_USD_2023-01-01_2023-03-31_4 Hours.csv  .csv
7   OANDA_EUR_USD_2023-01-01_2023-06-30_1 Hour.csv  .csv

In [2]:
EIFileManager.exist('OANDA_AUD_JPY_2018-01-01_2023-06-30_1 Day.csv')

True

In [3]:
df = EIFileManager.read_csv('OANDA_AUD_JPY_2018-01-01_2023-06-30_1 Day.csv')
df

                           time     ask     bid     mid  volume  digit  spread
0     2018-01-01 22:00:00+00:00  87.951  87.879  87.915   17380      3      72
1     2018-01-02 22:00:00+00:00  88.194  88.116  88.155   16384      3      78
2     2018-01-03 22:00:00+00:00  88.703  88.636  88.670   16229      3      67
3     2018-01-04 22:00:00+00:00  88.975  88.825  88.900   16838      3     150
4     2018-01-07 22:00:00+00:00  88.715  88.642  88.678   12797      3      73
...                         ...     ...     ...     ...     ...    ...     ...
1429  2023-06-25 21:00:00+00:00  95.805  95.780  95.792  138150      3      25
1430  2023-06-26 21:00:00+00:00  96.345  96.325  96.335  144702      3      20
1431  2023-06-27 21:00:00+00:00  95.387  95.368  95.378  148012      3      19
1432  2023-06-28 21:00:00+00:00  95.819  95.794  95.806  144461      3      25
1433  2023-06-29 21:00:00+00:00  96.269  96.024  96.146  142256      3     245

[1434 rows x 7 columns]

In [4]:
df = EIFileManager.read_csv('OANDA_AUD_JPY_2018-01-01_2023-06-30_1 Day.csv',
                            'time')
df

                              ask     bid     mid  volume  digit  spread
time
2018-01-01 22:00:00+00:00  87.951  87.879  87.915   17380      3      72
2018-01-02 22:00:00+00:00  88.194  88.116  88.155   16384      3      78
2018-01-03 22:00:00+00:00  88.703  88.636  88.670   16229      3      67
2018-01-04 22:00:00+00:00  88.975  88.825  88.900   16838      3     150
2018-01-07 22:00:00+00:00  88.715  88.642  88.678   12797      3      73
...                           ...     ...     ...     ...    ...     ...
2023-06-25 21:00:00+00:00  95.805  95.780  95.792  138150      3      25
2023-06-26 21:00:00+00:00  96.345  96.325  96.335  144702      3      20
2023-06-27 21:00:00+00:00  95.387  95.368  95.378  148012      3      19
2023-06-28 21:00:00+00:00  95.819  95.794  95.806  144461      3      25
2023-06-29 21:00:00+00:00  96.269  96.024  96.146  142256      3     245

[1434 rows x 6 columns]

In [5]:
EIFileManager.write_csv('test_file.csv', df)
time.sleep(5)

In [6]:
EIFileManager.remove('test_file.csv')

True