In [1]:
from algotrading.providers.implementation import OandaProvider

OandaProvider.get_instruments()

        symbol      instrument
0      AUD_CAD         AUD/CAD
1      AUD_CHF         AUD/CHF
2      AUD_HKD         AUD/HKD
3      AUD_JPY         AUD/JPY
4      AUD_NZD         AUD/NZD
..         ...             ...
123    USD_TRY         USD/TRY
124    USD_ZAR         USD/ZAR
125  WTICO_USD  West Texas Oil
126  WHEAT_USD           Wheat
127    ZAR_JPY         ZAR/JPY

[128 rows x 2 columns]

In [2]:
from algotrading.providers.implementation import OandaProvider
from algotrading.common.enums import Timeframe

symbol    = "AUD_JPY"
start     = "2018-01-01"
end       = "2023-06-30"
timeframe = Timeframe.DAY_1

provider = OandaProvider(symbol, start, end, timeframe)
print(provider)
print(provider.get_filename())
data = provider.get_response(True)
data

OandaProvider(symbol='AUD_JPY', start='2018-01-01', end='2023-06-30', timeframe=<Timeframe.DAY_1: Timeframe(id=7, granularity='D', resample='1D', description='1 Day')>)
OANDA_AUD_JPY_2018-01-01_2023-06-30_1 Day.csv

                              ask     bid     mid  volume  digit  spread
time
2018-01-01 22:00:00+00:00  87.951  87.879  87.915   17380      3      72
2018-01-02 22:00:00+00:00  88.194  88.116  88.155   16384      3      78
2018-01-03 22:00:00+00:00  88.703  88.636  88.670   16229      3      67
2018-01-04 22:00:00+00:00  88.975  88.825  88.900   16838      3     150
2018-01-07 22:00:00+00:00  88.715  88.642  88.678   12797      3      73
...                           ...     ...     ...     ...    ...     ...
2023-06-25 21:00:00+00:00  95.805  95.780  95.792  138150      3      25
2023-06-26 21:00:00+00:00  96.345  96.325  96.335  144702      3      20
2023-06-27 21:00:00+00:00  95.387  95.368  95.378  148012      3      19
2023-06-28 21:00:00+00:00  95.819  95.794  95.806  144461      3      25
2023-06-29 21:00:00+00:00  96.269  96.024  96.146  142256      3     245

[1434 rows x 6 columns]

In [3]:
from algotrading.common.enums import Timeframe
from algotrading.providers.api import EIProvider
from algotrading.providers.implementation import ProviderFactory

symbol    = "AUD_CAD"
start     = "2018-01-01"
end       = "2023-06-30"
timeframe = Timeframe.DAY_1

provider: EIProvider = ProviderFactory.create_provider_by_name(
    name=EIProvider.PROVIDER_OANDA,
    symbol=symbol,
    start=start,
    end=end,
    timeframe=timeframe
)
print(provider)
print(provider.get_filename())
data = provider.get_response()
data

OandaProvider(symbol='AUD_CAD', start='2018-01-01', end='2023-06-30', timeframe=<Timeframe.DAY_1: Timeframe(id=7, granularity='D', resample='1D', description='1 Day')>)
OANDA_AUD_CAD_2018-01-01_2023-06-30_1 Day.csv

                               ask      bid      mid  volume  digit  spread
time
2018-01-01 22:00:00+00:00  0.97976  0.97926  0.97951   68599      5      50
2018-01-02 22:00:00+00:00  0.98235  0.98195  0.98215   67027      5      40
2018-01-03 22:00:00+00:00  0.98215  0.98185  0.98200   70077      5      30
2018-01-04 22:00:00+00:00  0.97671  0.97521  0.97596   83626      5     150
2018-01-07 22:00:00+00:00  0.97423  0.97369  0.97396   60987      5      54
...                            ...      ...      ...     ...    ...     ...
2023-06-25 21:00:00+00:00  0.87831  0.87805  0.87818   50111      5      26
2023-06-26 21:00:00+00:00  0.88216  0.88195  0.88206   62544      5      21
2023-06-27 21:00:00+00:00  0.87524  0.87505  0.87514   64700      5      19
2023-06-28 21:00:00+00:00  0.87710  0.87686  0.87698   58047      5      24
2023-06-29 21:00:00+00:00  0.88352  0.88121  0.88236   60384      5     231

[1428 rows x 6 columns]

In [4]:
from algotrading.common.enums import Timeframe
from algotrading.providers.api import EIProvider
from algotrading.providers.implementation import ProviderFactory

provider = ProviderFactory.create_provider_by_name(
    name = EIProvider.PROVIDER_OANDA,
    symbol = "BTC_USD",
    start = "2018-01-01",
    end = "2023-06-30",
    timeframe = Timeframe.DAY_1
)

ticker = provider.get_ticker(True)
ticker

Ticker(symbol='BTC_USD', start='2018-01-01', end='2023-06-30', timeframe=<Timeframe.DAY_1: Timeframe(id=7, granularity='D', resample='1D', description='1 Day')>, data=                               ask      bid      mid  volume  digit  spread
time
2017-12-31 22:00:00+00:00  13535.5  13485.5  13510.5   36679      1     500
2018-01-01 22:00:00+00:00  13040.6  12990.6  13015.6   11098      1     500
2018-01-02 22:00:00+00:00  15047.7  14997.7  15022.7   60482      1     500
2018-01-03 22:00:00+00:00  14999.9  14949.9  14974.9   84696      1     500
2018-01-04 22:00:00+00:00  16756.8  16706.8  16731.8   83359      1     500
...                            ...      ...      ...     ...    ...     ...
2023-06-25 21:00:00+00:00  30180.0  30132.0  30156.0  429378      1     480
2023-06-26 21:00:00+00:00  30682.0  30632.8  30657.4  414824      1     492
2023-06-27 21:00:00+00:00  30114.3  30069.1  30091.7  347023      1     452
2023-06-28 21:00:00+00:00  30423.3  30379.6  30401.4  307662      1     437
2023-06-29 21:00:00+00:00  30418.9  30374.3  30396.6  372277      1     446

[1485 rows x 6 columns])